
body {
    padding:0;
    margin:0;
}
.left-game-container{
    height:100%;
    overflow:hidden;
    margin-left:119px;   
}
.left-sidestep{
    height: 40000px;
    
    background-image: url('leftTile.jpg');
    background-repeat: no-repeat;
    background-repeat: repeat-y;  
}
.road-container {
    height: 100%;
    position: absolute;
    overflow:hidden;
    top: 0px;
    
    left:300px;
    margin-right: 50px;
    width: 350px;
    z-index:3;
}
.right-game-container {
    position:absolute;
    top:0px;
    height: 100%;
    overflow: hidden;
    margin-right:50px;
    width:751px;
    
}
.right-statistics{
    background-color: black;
    position:absolute;
    right:0px;
    top:0px;
    width:20%;
    height:100%;
}
.progress {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: gray;
    height: 100%;
    width: 100px;
}
.road{
    
    position:absolute;
    z-index:3;
    height:40000px;
    background-image:url('roadBlock.jpg');
    width:350px;
    background-repeat:repeat-y;

}

.right-sidestep {
    position:relative;
    left:400px;
    height: 40000px;
    top:0px;
    width:400px;
    transform:rotateY(180deg);
    background-image: url('leftTile.jpg');
    background-repeat: no-repeat;
    background-repeat: repeat-y;
}
#car {
position:absolute;
left:350px;
bottom:100px;
transform:scale(1.3) translate(0,0);
z-index:5;

}
.enemy-cars {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:6;
    
}